Decididor/.classpath
Decididor/.project
Decididor/bin/
Decididor/gen/
Silenciador/.classpath
Silenciador/.project
Silenciador/bin/
Silenciador/.settings/
Silenciador/gen/
Topos/.classpath
Topos/.project
Topos/bin/
Topos/gen/