<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.bunkerdev.savemycarrots" 
	android:versionCode="3"
	android:versionName="1.1"
	android:installLocation="preferExternal"
	>
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-sdk android:minSdkVersion="7" />
	<supports-screens android:resizeable="true" android:normalScreens="true" android:smallScreens="false" android:anyDensity="false" android:largeScreens="true"></supports-screens>
	<application android:icon="@drawable/iconmolesl"
		android:label="@string/app_name">
		<activity android:name="com.androidsamples.topos" android:screenOrientation="portrait"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.androidsamples.Preferences"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.androidsamples.ToposGameActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:screenOrientation="portrait"></activity>

		<!-- Defining the ScoreloopUI activities -->

		<activity android:name="com.scoreloop.client.android.ui.EntryScreenActivity"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
		<activity android:name="com.scoreloop.client.android.ui.ShowResultOverlayActivity"
			android:theme="@style/sl_dialog" />

		<activity
			android:name="com.scoreloop.client.android.ui.component.market.MarketHeaderActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.market.MarketListActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.entry.EntryListActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.post.PostOverlayActivity"
			android:theme="@style/sl_dialog" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.score.ScoreHeaderActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.score.ScoreListActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.user.UserAddBuddyListActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.user.UserHeaderActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.user.UserDetailListActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.user.UserListActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.game.GameDetailHeaderActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.game.GameDetailListActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.game.GameListActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.challenge.ChallengePaymentActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.profile.ProfileSettingsListActivity" />
		<activity
			android:name="com.scoreloop.client.android.ui.component.profile.ProfileSettingsPictureListActivity" />

		<activity android:name="com.scoreloop.client.android.ui.framework.ScreenActivity"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
		<activity android:name="com.scoreloop.client.android.ui.framework.TabsActivity" />

		<activity android:name="com.google.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation" />

	</application>
</manifest>